<h1>{{title}}</h1>
<hr /><br />

<form action="/submit-data" method="post">
	<select name="op">
		<option value="add">Add</option>
		<option value="subtract">Subtract</option>
		<option value="multiply">Multiply</option>
		<option value="divide">Divide</option>
	</select> <br /> <br />
	
  <input required type="text" name="numberOne" /> <br /> <br />
  <input required type="text" name="numberTwo" /> <br /> <br />
  <input required type="submit" value="Perform" /><br /> <br />
</form>

<p>{{result}}</p>
